<html>
    <head>
        <title>AML Project</title>
        {% include "includes.html" %}
        <style>
        a, h4{
            color:black
        }
        a.visited, h4{
            color:black
        }
        </style>
    </head>
    <body>
        {% include "nav.html" %}
        <br>
        <div class="container">
        <div class="page-header">
            <h1 id="timeline">AML Project</h1>
            <h5 id="timeine" class="text-secondary">by Adheesh Juvekar, Kunal Joshi, Rahul Iyer</h5>
        </div>
        <hr>
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                <div class="timeline-heading">
                    <a href="/what"><h4 class="timeline-title">What are we doing?</h4></a>
                    <hr>
                    <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
                </div>
                <div class="timeline-body">
                    <p>
                        In this project,we attempt to reproduce the result in the Convolutional Neural Networks experiment (Section 6.3) in the paper-"Adam: A Method for Stochastic Optimization" paper.
                    </p>
                    <br>
                    <a href="/what">
                        <button class="btn btn-primary">
                            Know More
                        </button>
                    </a>
                </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                <div class="timeline-heading">
                    <a href="/how"><h4 class="timeline-title">How are we doing it?</h4></a>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>
                        We are using tensorflow keras library to create Convolutional Neural Network and are running it with different optimizers in an attempt to reproduce the results.
                        We are trying the different optimizers for the Image Captioning Problem with the model used in paper "Show, Attend and Tell: Neural Image Caption Generation with Visual Attention"
                    </p>
                    <br>
                    <a href="/how">
                        <button class="btn btn-primary">
                            Know More
                        </button>
                    </a>
                </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                <div class="timeline-heading">
                    <a href="/findings"><h4 class="timeline-title">Our Findings</h4></a>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>
                            Our results corroborate with the results from the original paper. The findings from the models and datasets that we experiment on indicate that Adam converges faster than Adagrad and SGD.
                    </p>
                    <br>
                    <a href="/findings">
                        <button class="btn btn-primary">
                            Know More
                        </button>
                    </a>
                </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                <div class="timeline-heading">
                    <a href="/papers"><h4 class="timeline-title">Papers</h4></a>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>
                        The papers referenced are mentioned here.
                    </p>
                    <br>
                    <a href="/papers">
                        <button class="btn btn-primary">
                            Know More
                        </button>
                    </a>
                </div>
                </div>
            </li>
            <!-- <li>
                <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                    <hr>
                    <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    </div>
                </div>
                </div>
            </li> -->
        </ul>
    </div>
    </body>
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $('#home').addClass('active');
        });
    </script>
      
</html>