<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/static/images/HorizontalStacked_RGB.svg" width="200" height="50" class="d-inline-block align-top" alt="VT Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" id="home">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="what">
                <a class="nav-link" href="/what">What</a>
            </li>
            <li class="nav-item" id="how">
                <a class="nav-link" href="/how">How</a>
            </li>
            <li class="nav-item" id="findings">
                <a class="nav-link" href="/findings">Findings</a>
            </li>
            <li class="nav-item" id="papers">
                <a class="nav-link" href="/papers">Papers</a>
            </li>
        </ul>
    </div>
</nav>